<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bu.firstdoc.firstDoc.mapper.UserInfoMapper">

    <select id="findAll" resultType="java.util.Map" >
        select USER_ID,
            USER_NAME,
            USER_ADDRESS
        from USER_INFO
    </select>
</mapper>