<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bu.firstdoc.klin.mapper.DictMapper">


    <select id="findAll" resultType="java.util.Map">
        select DICT_TYPE,
                   DICT_NAME,
            DICT_VALUE
        from dict
    </select>
</mapper>